// breakpoints, mobile first
$screen-tablet: breakpoint(md);
$screen-desktop: breakpoint(lg);
$screen-lg-desktop: breakpoint(xl);


// Fonts
$font-times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$font-times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$font-georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;
$font-verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif;
$font-tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
$font-helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;
$font-courier:         "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
$font-arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif;

$font-source-sans-pro: 'Source Sans Pro', sans-serif;
$font-pt-sans: 		   'PT Sans', sans-serif;

//Font sizes

//Responsive font sizes are created with mixin
/*
Example
$font-size-base (
	  null  : 12px,
	  $screen-tablet : 16px,
	  $screen-desktop : 16px,
	  $screen-lg-desktop: 18px
);
//use font-size like this
p { @include font-size($font-size-base); }
*/

// All font sizes should be defined here
$font-size-s: (
	  null  : 14px,
	  $screen-tablet : 14px
);

$font-size-l: (
	  null  : 18px,
	  $screen-tablet : 18px
);

$font-size-base: (
	  null  : 16px,
	  $screen-tablet : 16px
);

$font-size-h4: (
	  null  : 22px,
	  $screen-tablet : 30px,
);

$font-size-h3: (
	  null  : 26px,
	  $screen-tablet : 40px
);

$font-size-h2: (
	  null  : 33px,
	  $screen-tablet : 50px
);

$font-size-h1: (
	  null  : 40px,
	  $screen-tablet : 60px
);

$font-size-nav: (
	  null  : 16px,
	  $screen-tablet : 14px
);

$font-size-social-icons: (
	  null  : 20px,
	  $screen-tablet : 20px
);


//Default theme colors
$default_clr_primary: #253764;
$default_clr_primary_text: #fff;
$default_clr_secondary: #1c769d;
$default_clr_secondary_text: #fff;

//Theme color overrides, edit from Theme settings page on admin side
$clr_primary: var(--primary-color);
$clr_primary_text: var(--primary-text-color);
$clr_secondary: var(--secondary-color);
$clr_secondary_text: var(--secondary-text-color);


//Colors
$clr-white:		#fff;
$clr-black:		#000;
$clr-red:       #FF4848;
$clr-grey-6:	#161616;
$clr-grey-5:	#404040;
$clr-grey-4:	#7f7f7f;
$clr-grey-3:	#a4a4a4;
$clr-grey-2:	#dddddd;
$clr-grey-1: 	#f2f2f2;

$clr-grey: $clr-grey-1;
$clr-font-grey: #2a2a2a;

//Transitions
$transition-link: all 0.2s ease-in-out;


//Base vars
$base-font-size:   $font-size-base; // The font size set on the root html element.
$base-line-height: 1.5; // This line-height determines the basic unit of vertical rhythm.
$base-font-family: $font-pt-sans; // The font family set on the html element.

$base-clr-body-bg: $clr-white;
$base-clr-text: $clr-font-grey;