@import "bootstrap-vars";
@import "fontawesome_helpers";
@import "vendor/fontawesome/fontawesome";
@import "vendor/fontawesome/regular";
@import "vendor/fontawesome/solid";
@import '../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import "vars";
@import "base/mixins";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face{
    font-family: "Tondu W05 Beta";
    src: url("../fonts/Tondu/46dab5de-4f4f-47f3-bb3f-00027f6aa56c.woff2") format("woff2"), url("../fonts/Tondu/b25433a0-4ac7-4aa8-9d73-703ac130d5df.woff") format("woff");
    font-weight:700;
    font-style:normal;
}

#wpadminbar {
    #wp-admin-bar-gform-forms {
        display: none;
    }
}

.block-editor {
    .interface-interface-skeleton__body, .block-editor-editor-skeleton__body {
        .edit-post-visual-editor {
            padding: 0;
            font: #{map-get($base-font-size,null)}/#{$base-line-height} $base-font-family;
            @include font-size($base-font-size);
            font-weight: normal;
            color: $base-clr-text;
            background: $base-clr-body-bg;
            position: relative;

            .editor-styles-wrapper {
                padding-left: 0;
                padding-right: 0;
            }

            .block-editor-writing-flow {
                overflow-x: hidden;

                //Page title
                .edit-post-visual-editor__post-title-wrapper, .editor-post-title {
                    border-bottom: 1px solid #f0f0f0;
                    background-color: #fff;

                    .wp-block {
                        @extend .container;
                    }

                    .editor-post-title, .editor-post-title__block {
                        margin-top: 0;
                        padding-top: 2em;
                    }
                }

                .editor-post-title {
                    .editor-post-title__block {
                        margin-top: 50px;
                        padding-top: 2em;
                    }
                }

                //Original place of content editor, moved to bottom as test for block preview images
            }
        }
    }
}


.block-editor-inserter__preview-container {
    width: 576px !important;

    .block-editor-inserter__preview-content {
        width: 576px !important;  
        transform: scale(1);      

        .id-block {
            &.full-width {
                margin-left: 0 !important;
                margin-right: 0 !important;
                width: 100% !important;
                max-width: 100% !important;
            }
        }
    }
}

.editor-styles-wrapper {
    @import "base/typography";
}

//Content editor
.block-editor-block-list__layout.is-root-container, .block-editor-block-list__layout {
    @extend .container;
    // Needs review: Import styles here to overwrite WordPress core styles in editor
    //@import "base/typography";
    @import "base/block-editor-styles";

    .wp-block {
        max-width: inherit;
        // Import styles here to add custom elements to editor
        @import "base/helpers";
        @import "elements/forms";

        .acf-block-preview {
            .block-editor-inner-blocks {
                border: 1px dashed transparent;
                position: relative;
                margin-left: -15px;
                margin-right: -15px;

                &:hover {
                    border: 1px dashed black;

                    &::before {
                        display: inline-block;
                    }
                }

                &:focus-within {
                    border: 1px dashed black;

                    &::before {
                        display: inline-block;
                    }
                }

                &::before {
                    content: 'InnerBlocks';
                    padding: 6px 12px;
                    border-radius: 2px 2px 0 0;
                    background-color: #007cba;
                    color: #fff;
                    transform: translateY(calc(-100% - 1px));
                    display: none;
                    position: absolute;
                    left: 0;
                    font-size: 13px;
                }
            }

            // Import styles here to add ACF block styles to editor
            @import "elements/all";
            @import "components/all";
            @import "partials/article-card";
            @import "partials/sidebar";

            // Needs review: does not work without base/typography
            //> div, > section {
                //    @extend .entry-content; //Not working for some reason
                //}
            }
        }

        .wp-block-table {
            @import "elements/table";
        }

        div[data-type="core/file"].wp-block-file {
            @import "elements/table";

            .wp-block-file__textlink {
                font-weight: bold;
                text-decoration: underline;
            }
        }

        div[data-type="core/button"].wp-block-button {
            .wp-block-button__link {
                display: inline-block;
                @include primary-text-color(true);
                @include primary-color();
                @include font-size($font-size-base);
                font-weight: bold;
                text-align: center;
                line-height: 1.1;
                text-decoration: none!important;
                padding: 16px 32px;
                border-radius: 2px;
                appearance: none;
                border: solid 2px;
                @include primary-border-color();
                transition: 0.2s;

                &:hover {
                    opacity: 0.84;
                }
            }

            &.is-style-outline {
                .wp-block-button__link {
                    background-color: transparent;
                    border-color: $clr-font-grey;
                    color: $clr-font-grey !important;

                    &:hover {
                        @include primary-text-color(true);
                        @include primary-color(true);
                        @include primary-border-color(true);
                    }
                }
            }
        }
    }
