@import "../../../components/block-hero/sass/block-hero";
@import "../../../components/block-content-with-sidebar/sass/block-content-with-sidebar";
@import "../../../components/block-article-content/sass/block-article-content";
@import "../../../components/block-content/sass/block-content";
@import "../../../components/block-latest-articles/sass/block-latest-articles";
@import "../../../components/block-image-beside-content/sass/block-image-beside-content";
@import "../../../components/block-social-feed/sass/block-social-feed";
@import "../../../components/block-map/sass/block-map";
@import "../../../components/block-form/sass/block-form";

.id-block {    
    &.full-width {
        margin-left: calc(-100vw / 2 + 100% / 2);
        margin-right: calc(-100vw / 2 + 100% / 2);
        max-width: 100vw;
        width: 100vw;

        > .container, > .container-lg {
        	//padding-right: 23px;
        	//padding-left: 23px;
        }
    }

    &:not(.has-bg) + .id-block:not(.has-bg):not(.has-partial):not(.block-content-with-sidebar):not(.block-article-content), &.has-partial-bg + .id-block:not(.has-bg), {
        padding-top: 0;
    }
}