.block-image-beside-content {
	padding: 72px 0;

	@include media-breakpoint-up(lg) {
		padding: 116px 0;
	}

	&.has-bg {
		@include primary-color();
		@include primary-text-color();

		.inner-blocks {
			h1, h2, h3, h4, h5, h6 {
				@include primary-text-color();
			}

			.wp-block-buttons {
				.wp-block-button {
					.wp-block-button__link {
						background-color: $clr-white;
						border-color: $clr-white;
						color: $clr-font-grey !important;
					}
				}
			}
		}

		.read-more.button {
			background-color: transparent;
			border-color: $clr-white;
			color: $clr-white !important;

			&:hover {
				background: $clr-white;
				border-color: $clr-white;
				color: $clr-font-grey !important;
			}
		}
	}

	&.image-on-right {
		.align-content {
			@include media-breakpoint-up(lg) {
				padding-right: 68px;
				padding-left: 0;
			}
		}
	}

	&:not(.has-bg) + .block-image-beside-content:not(.has-bg) {
		padding-top: 0;
	}

	&.has-bg + .block-image-beside-content.has-bg {
		padding-top: 0;
	}

	.image {
		width: 100%;
		height: 0;
		padding-bottom: 66.7%;
		background-color: $clr-grey-1;
		position: relative;
		overflow: hidden;

		&:hover, &.hover {
			img {
				width: 104%;
				left: -2%;
				height: 104%;
				top: -2%;
			}
		}
		img {
			transition: all 0.35s ease-in-out;
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			left: 0;
			top: 0;
			max-width: inherit;
		}
	}

	.read-more {
		margin-top: 48px;

		&.button {
			border-color: $clr-font-grey;
			background: transparent;
			color: $clr-font-grey !important;

			&:hover {
				@include primary-color();
				@include primary-border-color();
				@include primary-text-color(true);
			}
		}
	}

	.align-image {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 42px;

		@include media-breakpoint-up(lg) {
			padding-bottom: 0;
		}
	}

	.align-content {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include media-breakpoint-up(lg) {
			padding-left: 68px;
		}
	}

	.inner-blocks {
		h1, h2, h3, h4, h5, h6 {
			@include secondary-color-text();
		}
	}
}