* {
	box-sizing: border-box;
}

body {
	font: #{map-get($base-font-size,null)}/#{$base-line-height} $base-font-family;
	@include font-size($base-font-size);
	font-weight: normal;
	color: $base-clr-text;
	background: $base-clr-body-bg;
	min-height: 100vh;
	position: relative;
    overflow-x: hidden;

    &.no-scrolling {
    	overflow: hidden;
    }
}

#page {
	position: relative;
}

.container-fluid, .container-lg {
    padding-top: 0;
    padding-bottom: 0;

    & > .container {
        margin-bottom: 0rem;
    }
}

#wpadminbar {
	@include media-breakpoint-down(md) {
		position: fixed;
	}

	#wp-admin-bar-gform-forms {
		display: none;
	}
}

@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {
	
}

@include media-breakpoint-up(xl) {
	
}
