//responsive font-sizes
@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

@function if-important($important){
  @return #{if($important, '!important', '')};
}

@mixin primary-color($important: false) {
  background: $default_clr_primary if-important($important);
  background: $clr-primary if-important($important);
}

@mixin secondary-color($important: false) {
  background: $default_clr_secondary if-important($important);
  background: $clr_secondary if-important($important);
}

@mixin primary-text-color($important: false) {
  color: $default_clr_primary_text if-important($important);
  color: $clr_primary_text if-important($important);
}

@mixin primary-border-color($important: false) {
  border-color: $default_clr_primary if-important($important);
  border-color: $clr_primary if-important($important);
}

@mixin secondary-border-color($important: false) {
  border-color: $default_clr_secondary if-important($important);
  border-color: $clr_secondary if-important($important);
}

@mixin secondary-text-color($important: false) {
  color: $default_clr_secondary_text if-important($important);
  color: $clr_secondary_text if-important($important);
}

@mixin secondary-color-fill($important: false) {
  fill: $default_clr_secondary if-important($important);
  fill: $clr_secondary if-important($important);
}

@mixin primary-text-color-fill($important: false) {
  fill: $default_clr_primary_text if-important($important);
  fill: $clr_primary_text if-important($important);
}

@mixin secondary-color-text($important: false) {
  color: $default_clr_secondary if-important($important);
  color: $clr_secondary if-important($important);
}

@mixin primary-color-text($important: false) {
  color: $default_clr_primary if-important($important);
  color: $clr_primary if-important($important);
}