.block-form {
	padding: 58px 0;

	.entry-content {
		padding-bottom: 48px;

		@include media-breakpoint-up(xl) {
			padding-right: 68px;
			padding-bottom: 0;
		}

		h1, h2, h3, h4, h5, h6 {
			@include secondary-color-text();
		}
	}
}