.block-hero-carousel {
    position: relative;

    .controls {
        position: absolute;
        display: flex;
        z-index: 1;

        @include media-breakpoint-down(lg) {
            top: calc(100vw * 0.7487 - 48px - 6px + 32px);
            left: 50%;
            transform: translateX(-50%);
        }

        @include media-breakpoint-up(xl) {
            top: 50% !important;
            transform: translateY(-50%);
            right: calc(64px + 48px);
            flex-direction: column;
        }

        .dots {
            .slick-dots {
                list-style: none;
                display: flex;
                padding-left: 0;
                margin-bottom: 0;
                column-gap: 6px;

                @include media-breakpoint-up(xl) {
                    flex-direction: column;
                    row-gap: 6px;
                }

                li {
                    margin-bottom: 0;
                    font-size: 0;
                    line-height: 0;
                    color: transparent;

                    button {
                        display: block;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background-color: #fff;
                        opacity: 0.48;
                        border: 0;

                        @include media-breakpoint-up(xl) {
                            width: 16px;
                            height: 16px;
                        }
                    }

                    &.slick-active {
                        button {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}