.site-content {
    //margin-top: 100px;
    //margin-bottom: 100px;
}

.breadcrumbs-container {
    margin-bottom: 32px;

    &.mobile {
        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    &.has-hero.desktop {
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }
    
    #breadcrumbs {
        @include font-size($font-size-s);
        padding: 12px 0;

        a {
            text-decoration: underline;
            @include secondary-color-text();
            margin-right: 5px;

            &:hover {
                color: $clr-font-grey;
            }
        }
        
        span.breadcrumb_last {
            color: $clr-font-grey;
            margin-left: 5px;
        }

        span.bullet {
            font-size: 0.8em;
        }
    }
}

.error404,
.page,
.search {

    .entry-header,
    .page-header {
        margin-bottom: 54px;
    }
}

.error404 {

    .page-content {
        margin: 100px 0;

        .search-form {
            margin-top: 32px;
        }
    }
}

/*

// // 
@media (min-width: $screen-tablet) {}
@include media-breakpoint-up(md) {}

// // 
@media (min-width: $screen-desktop) { }
@include media-breakpoint-up(lg) {}

// // 
@media (min-width: $screen-lg-desktop) { }
@include media-breakpoint-up(xl) {}





@include media-breakpoint-down(xs) { ... }

@include media-breakpoint-only(sm) { ... }

@include media-breakpoint-between(md, xl) { ... }

*/