.site-footer {
    margin-top: 50px;

    .footer-top {
        background-color: $clr-white;

        .container-lg {            
            padding-bottom: 84px;

            .border-top {
                border-top: solid 1px #2a2a2a;
                padding-top: 58px;
            }
        }
    }

    .footer-col {

    }

    .footer-brand-col {
        font-weight: bold;
        @include font-size($font-size-xl);
        font-family: $font-source-sans-pro;

        @include media-breakpoint-down(md) {
            margin-bottom: 70px;
        }

        a {
            color: $clr-font-grey;
        }

        img {
            max-height: 43px;
        }

        p {
            display: inline-block;
        }
    }

    .footer-nav-col {
        @include media-breakpoint-down(md) {
            margin-bottom: 15px;
        }

        .footer-menu {
            display: flex;
            flex-wrap: wrap;

            .menu-item {
                a {
                    color: $clr-font-grey;
                    font-weight: normal;

                    &:hover {
                        @include secondary-color-text();
                        text-decoration: underline;
                    }
                }
            }

            > .menu-item {
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 15px;

                &:last-of-type {                    
                    @include media-breakpoint-down(md) {
                        margin-bottom: 0;
                    }
                }

                @include media-breakpoint-up(lg) {
                    flex: 0 0 33.333%;
                    max-width: 33.333%;
                    padding-right: 30px;
                }

                > a {
                    margin-bottom: 14px;
                    font-weight: bold;
                    display: inline-block;
                    @include secondary-color-text();
                    @include font-size($font-size-l);
                }

                .menu-item {
                    margin-bottom: 13px;
                }
            }
        }
    }

    .footer-some {
        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
        }

        @include media-breakpoint-up(lg) {
            text-align: right;
        }

        .social-icons {
            display: inline-flex;
            flex-wrap: wrap;

            .social-icon {
                margin-left: 4px;
                margin-bottom: 4px;
                @include font-size($font-size-social-icons);
                @include primary-color();
                @include primary-text-color();
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 42px;
                height: 42px;
                transform: scale(1);
                transition: transform 0.2s;

                &:first-of-type {
                    margin-left: 0;
                }

                &:hover {
                    transform: scale(0.9);
                }

                &.instagram {
                    &::before {
                        @include fontawesome-icon('f16d', 'fab');
                    }
                }
                &.facebook {
                    &::before {
                        @include fontawesome-icon('f09a', 'fab');
                    }
                }
                &.twitter {
                    &::before {
                        @include fontawesome-icon('f099', 'fab');
                    }
                }
                &.youtube {
                    &::before {
                        @include fontawesome-icon('f167', 'fab');
                        margin-right: -2px;
                        margin-top: 2px;
                    }
                }
                &.linkedin {
                    &::before {
                        @include fontawesome-icon('f0e1', 'fab');
                    }
                }
                &.snapchat {
                    &::before {
                        @include fontawesome-icon('fa2c', 'fab');
                    }
                }
                &.tiktok {
                    &::before {
                        @include fontawesome-icon('e07b', 'fab');
                    }
                }
            }
        }
    }

    .footer-bottom {
        @include primary-color();
        @include primary-text-color();
        height: 64px;
        display: flex;
        align-items: center;

        .partio-logo {
            width: 74px;
            height: auto;

            path {
                @include primary-text-color-fill();
            }
        }

        .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .footer-helper {
            display: flex;

            li {

                a {
                    @include primary-text-color();
                    margin-left: 48px;
                    @include primary-text-color()
                    font-weight: normal;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .footer-navigation, .footer-navigation-wrapper {
        &.desktop {
            display: none;

            @include media-breakpoint-up(lg) {
                display: block;
            }
        }

        &.mobile {
            display: block;

            @include media-breakpoint-up(lg) {
                display: none;
            }

            .footer-helper {
                li {
                    margin-bottom: 14px;

                    a {
                        color: $clr-font-grey;
                    }
                }
            }
        }
    }
    .copyright {
        font-size: 14px;
        @include media-breakpoint-up(md) {
            display: 16px;
        }
    }
}