@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {

}

@include media-breakpoint-up(xl) {

}

body.admin-bar {
    .site-header {
        .site-header-main {
            &.floating {
                top: 46px;

                @include media-breakpoint-up(md) {
                    top: 32px;
                }
            }
        }
    }
}

.site-header {
    z-index: 999;
    position: relative;

    /* UNCOMMENT for fixed header
    body.admin-bar & {
        top: 46px;
    }
    @media screen and (min-width: 783px) {
        body.admin-bar & {
            top: 32px;
        }
    }
    */

    .container-lg {
        padding-top: 0;
        padding-bottom: 0;
    }


    .header-desktop {
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }


    .header-helper {
        @include primary-color();
        @include primary-text-color();
        height: 44px;

        @include media-breakpoint-up(lg) {
            height: 52px;
        }

        .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .secondary-menu {
            display: flex;

            .menu-item {
                a {
                    @include primary-text-color();
                }
            }
        }

        .language-selector {
            position: relative;

            &:hover {
                .language {
                    display: block !important;
                }

                .active-lang {
                    .open-language-selector {
                        &::after {
                            transform: rotate(-180deg);
                        }
                    }
                }
            }

            .active-lang {
                position: relative;

                .open-language-selector {
                    background: transparent;
                    border: 0;

                    &::after {
                        @include fontawesome-icon('f078', 'fal');
                        transform: rotate(0);
                        transition: transform 0.2s;
                        display: block;
                    }

                    &.open {
                        &::after {
                            transform: rotate(-180deg);
                        }
                    }
                }
            }

            .language:not(.open) {
                display: none;
            }

            .language {
                position: absolute;
                bottom: 0;
                background: $clr-white;
                transform: translateY(100%);

                li {
                    margin: 16px 0;

                    a {
                        color: $clr-font-grey;
                    }
                }
            }
        }
    }


    .site-header-main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 60px; //Height of menubar
        background-color: $clr-white;
        border-bottom: solid 1px rgba(0, 0, 0, 0.1);

        &.floating {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
        }

        .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .site-branding {
            display: flex;
            align-items: center;

            a {
                color: $clr-black;
            }
        }

        .nav-cta {
            display: none;

            @include media-breakpoint-up(lg) {
                display: inline-block;
            }
        }


        .site-header-menu {  
            position: absolute;
            top: 0px; //Height of menubar
            left: 0;
            background: $clr-white;
            width: 90vw;
            height: calc(100vh);
            z-index: 10;
            transform: translateX(-100%);
            transition: 0.25s;
            visibility: hidden;

            @include media-breakpoint-up(lg) {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                top: auto;
                right: auto;
                background: transparent;
                width: auto;
                height: auto;
                transform: none;
                transition: 0s;
                visibility: visible;
            }

            &.open {
                transform: translateX(0);
                visibility: visible;
            }

            .main-navigation {
                display: block;

                //Desktop styles
                @include media-breakpoint-up(lg) {
                    .primary-menu {
                        display: flex;
                        flex-direction: row;
                        align-content: center;
                        @include font-size($font-size-nav);

                        //First level
                        > .menu-item {
                            margin: 0 15px;
                            padding: 22px 0;
                            position: relative;
                            font-weight: 500;
                            text-transform: uppercase;

                            a {
                                color: $clr-black;

                                &:hover {
                                    @include secondary-color-text();
                                }
                            }

                            //Second level
                            .menu-item {                                
                                width: 175px;
                                text-transform: none;

                                &:hover, &:focus-within {
                                    background-color: $clr-grey-1;
                                }

                                a {
                                    color: $clr-black;
                                    padding: 10px 15px;
                                    display: block;
                                }

                                .sub-menu-toggle {
                                    display: none;
                                }
                            }
                        }

                        //General
                        > .menu-item {
                            .sub-menu-toggle {
                                display: inline-block;
                                border: 0;
                                background: transparent;

                                &::after {
                                    @include fontawesome-icon('f078', 'fal');
                                    transform: rotate(0);
                                    transition: transform 0.2s;
                                    display: block;
                                }
                            }

                            .sub-menu {
                                display: none;
                                background-color: $clr-white;
                                box-shadow: 1px 1px 3px #ccc;
                                position: absolute;
                            }

                            &:hover, &:focus-within {
                                > .sub-menu {
                                    display: block;
                                }
                            }
                            
                            &.current-menu-ancestor, &.current-menu-item {
                                > a {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
