.blog,
.archive {
    .page-header {
        margin-bottom: 54px;

        .page-title {
            text-transform: uppercase;
            @include primary-color-text();
        }
    }

    .load-more-wrapper {
        text-align: center;
        padding-top: 48px;

        .load-more {
            padding: 16px 33px;
            border-radius: 2px;
            @include primary-color();
            @include primary-text-color();
            font-weight: bold;
            border: 0;
            transition: opacity 0.2s;

            &:hover {
                opacity: 0.84;
            }
        }
    }
}