$heading-margin-bottom: 24px;
$body-margin-bottom: 24px;
$validation-margin-bottom: 24px;
$field-margin-bottom: 24px;
$field-gutter: 24px;

$text-background: $clr-white;
$text-border: $clr-font-grey;
$text-border-radius: 0px;
$text-color: $clr-black;
$text-placeholder: $clr-form-grey;

$check-background: $clr-grey-4;
$check-border: $clr-grey-2;
$check-border-radius: 5px;
$check-color: $clr-white;
$check-margin-bottom: 10px;
$check-size: 24px;
$check-space: 30px;

$file-drop-background: $clr-grey-1;

$validation-background: $clr-red;
$validation-color: $clr-white;
$error-color: $clr-red;
$error-border: $clr-red;

/* Bootstrap form classes
   These are extended to Gravity Forms below */

.form-group {
    margin-bottom: $field-margin-bottom;
}

.form-control {
    background-color: $text-background;
    border: 0;
    border-bottom: 1px solid $text-border;
    border-radius: $text-border-radius;
    color: $text-color;
    display: block;
    width: 100%;
    padding-bottom: 16px;
    padding-top: 10px;
    font-weight: bold;
    @include font-size($font-size-l);
    outline-offset: 3px;

    &::placeholder {
        color: $text-placeholder;
        font-weight: normal;
    }
}

.form-check + .form-group {
    margin-top: $field-margin-bottom;
}

.form-check-label {
    padding-left: $check-space;
}

.form-check-input[type="checkbox"] {
    opacity: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    & + label {
        padding-left: 30px;
        position: relative;
        cursor: pointer;

        &::before {
            content: '';
            display: inline-block;
            width: 18px;
            height: 18px;
            border: 1px solid $clr-font-grey;
            position: absolute;
            left: 0;
            top: 1px;
            z-index: 1;
        }

        &::after {
            content: '';
            display: inline-flex;
            width: 18px;
            height: 18px;
            border: 0;
            position: absolute;            
            left: 0;
            top: 1px;
            justify-content: center;
            align-items: center;
            font-size: 13px;
        }
    }

    &:focus + label {
        outline: auto 5px -webkit-focus-ring-color;
        outline-offset: 3px;
    }

    &:checked + label {
        &::before {
            @include secondary-border-color();
        }

        &::after {
            @include secondary-color();
            @include secondary-text-color();
            @include fontawesome-icon('f00c', 'far');
        }
    }
}

.form-check-input[type="radio"] {
    opacity: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    & + label {
        padding-left: 30px;
        position: relative;
        cursor: pointer;

        &::before {
            content: '';
            display: inline-block;
            width: 18px;
            height: 18px;
            border: 1px solid $clr-font-grey;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 1px;
            z-index: 1;
        }

        &::after {
            content: '';
            display: inline-block;
            width: 18px;
            height: 18px;
            border: 2px solid $clr-white;
            border-radius: 50%;
            position: absolute;            
            left: 0;
            top: 1px;
        }
    }

    &:focus + label {
        outline: auto 5px -webkit-focus-ring-color;
        outline-offset: 3px;
    }

    &:checked + label {
        &::after {
            @include secondary-color();
        }
    }
}


/* Gravity Forms */

.gform_wrapper {

    form {
        margin-bottom: 0;
    }

    .gform_heading {
        margin-bottom: $heading-margin-bottom;
    }

    .gform_body {
        margin-bottom: $body-margin-bottom;

        ul {
            list-style: none;
            padding-left: 0;
            margin: 0;
        }
    }

    .validation_error {
        padding: 12px;
        margin-bottom: $validation-margin-bottom;
        color: $validation-color;
        background: $validation-background;
    }

    .validation_message {
        color: $validation-background;
    }

    .button {
        padding: 16px 33px;
        border-radius: 2px;
        @include primary-color();
        @include primary-text-color();
        font-weight: bold;
        border: 0;
        transition: opacity 0.2s;
        margin-top: 24px;
        outline-offset: 3px;

        &:hover {
            opacity: 0.84;
        }
    }

    .gform_fields {
        display: flex;
        flex-wrap: wrap;

        .gfield {
            flex: 0 0 100%;
            max-width: 100%;
            display: block;

            &.width-50 {

                @include media-breakpoint-up(lg) {
                    flex: 0 0 50%;
                    max-width: 50%;
                    padding-right: $field-gutter;
                }

                & + .width-50 {

                    @include media-breakpoint-up(lg) {
                        padding-right: 0;
                    }
                }
            }

            &:not(:last-of-type) {
                margin-bottom: $field-margin-bottom;
            }

            &.hidden_label {
                .gfield_label {
                    border: 0;
                    clip: rect(0, 0, 0, 0);
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 1px;
                }

                select[multiple="multiple"], textarea, .ginput_container_consent {
                    margin-top: 16px;
                }
            }

            input[type="email"],
            input[type="date"],
            input[type="datetime"],
            input[type="datetime-local"],
            input[type="month"],
            input[type="number"],
            input[type="password"],
            input[type="search"],
            input[type="tel"],
            input[type="text"],
            input[type="time"],
            input[type="week"],
            input[type="url"],
            select,
            textarea {
                @extend .form-control;

                &.small {

                    @include media-breakpoint-up(md) {
                        width: 33.333%;
                    }
                }

                &.medium {

                    @include media-breakpoint-up(md) {
                        width: 66.666%;
                    }
                }

                &.large {

                    @include media-breakpoint-up(md) {
                        width: 100%;
                    }
                }
            }

            textarea, select[multiple="multiple"] {
                border: 1px solid $text-border;
                padding: 12px;
                @include font-size($font-size-base);
                font-weight: normal;
            }

            .gfield_required {
                padding-left: 1px;
            }

            .gfield_description {
                @include font-size($font-size-s);
            }

            .gfield_radio {

                input[value=gf_other_choice] + input {
                    display: inline-block;
                }
            }

            .gfield_checkbox,
            .gfield_radio {
                li {
                    margin-bottom: $check-margin-bottom;
                    padding-left: $check-space;
                    position: relative;
                    padding: 0;
                }
            }

            .gfield_checkbox, .ginput_container_consent {
                input {
                    @extend .form-check-input[type="checkbox"] !optional;
                }
            }

            .gfield_radio {
                input {
                    @extend .form-check-input[type="radio"] !optional;
                }
            }

            .ginput_container_fileupload {

                .gform_drop_area {
                    position: relative;
                    padding: 24px;
                    background: $file-drop-background;

                    input {
                        margin-left: 12px;
                    }
                }

                .ginput_preview {
                    margin-top: 6px;

                    strong {
                        font-weight: 400;
                    }
                }
            }

            &.gfield_error {

                .gfield_label {
                    color: $error-color;
                }

                input:not(.button),
                select,
                label,
                textarea {
                    color: $error-color;
                    border-color: $error-border;
                }

                .gform_drop_area {
                    background: $validation-background;

                    .gform_drop_instructions {
                        color: $validation-color;
                    }
                }
            }

            &.field_description_below {

                .gfield_description {
                    margin-top: 6px;
                }
            }

            &.field_description_above {

                .gfield_description {
                    margin-bottom: 6px;
                }
            }
        }

        &.top_label {

            .gfield_label {
                display: block;
                margin-bottom: 12px;
                margin-top: 6px;
            }
        }

        &.left_label,
        &.right_label {

            .gfield {

                @include media-breakpoint-up(md) {
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;
                }

                .gfield_label,
                .ginput_container,
                .gfield_description {

                    @include media-breakpoint-up(md) {
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
                }
            }

            input[type="email"],
            input[type="date"],
            input[type="datetime"],
            input[type="datetime-local"],
            input[type="month"],
            input[type="number"],
            input[type="password"],
            input[type="search"],
            input[type="tel"],
            input[type="text"],
            input[type="time"],
            input[type="week"],
            input[type="url"],
            select,
            textarea {

                &,
                &.small,
                &.medium,
                &.large {
                    width: 100%;
                }
            }
        }

        &.left_label {

            .gfield {

                @include media-breakpoint-up(md) {
                    justify-content: flex-end;
                }
            }
        }

        &.right_label {

            .gfield {

                @include media-breakpoint-up(md) {
                    justify-content: flex-start;
                }
            }

            .ginput_container {

                @include media-breakpoint-up(md) {
                    order: 1;
                }
            }

            .gfield_label {

                @include media-breakpoint-up(md) {
                    order: 2;
                    padding-left: $field-gutter;
                }
            }

            .gfield_description {

                @include media-breakpoint-up(md) {
                    order: 3;
                }
            }
        }
    }
}

.gform_confirmation_wrapper {
    .gform_confirmation_message {
        margin-top: 48px;

        @include media-breakpoint-up(lg) {
            margin-top: 0;
        }

        strong {
            @include secondary-color-text();
            @include font-size($font-size-l);
        }

        &::after {
            @include fontawesome-icon('f00c', 'fas');
            @include secondary-color-text();
            font-size: 170px;
            display: block;
            line-height: 1;
            margin-top: 30px;
            text-align: center;

            @include media-breakpoint-up(md) {
                text-align: left;
            }
        }
    }
}

/* Hide Gravity Forms honeypot */
.gform_validation_container,
.gform_wrapper .gform_validation_container,
body .gform_wrapper li.gform_validation_container,
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container,
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {
    display: none !important;
    position: absolute !important;
    left: -9000px;
}
