.block-content-with-sidebar {
	position: relative;
	overflow: hidden;
	padding: 30px 0;

	.figure {
		display: block;
		margin: 72px -100px 0 auto;
		width: 350px;
		height: auto;

		@include media-breakpoint-up(xxl) {
			margin: 72px 0 0 auto;
		}

		path {
			@include secondary-color-fill();
		}
	}

	.entry-content {
		h1 {
			@include font-size($font-size-content-h1);
		}

		h2 {
			@include font-size($font-size-content-h2);
			color: $clr-font-grey;
		}

		h3 {
			@include font-size($font-size-content-h3);
			color: $clr-font-grey;
		}

		h4 {
			@include font-size($font-size-content-h4);
			color: $clr-font-grey;
		}
	}
}