.block-content-with-sidebar {
	position: relative;
	overflow: hidden;
	padding: 50px 0 72px;
	margin-bottom: 58px;

	@include media-breakpoint-up(lg) {
		padding-bottom: 86px;
	}

	&.no-figure {
		margin-bottom: 0;
	}


	.figure {
		z-index: -1;

		&.cross {
			display: block;
			margin: 40px -50px 0 auto;
			width: 150px;
			height: auto;

			@include media-breakpoint-up(md) {
				margin: 72px -100px 0 auto;
				width: 350px;
			}

			@include media-breakpoint-up(xxxl) {
				width: 350px;
			}

			@media (min-width: 1800px) {
				position: absolute;
				bottom: 20px;
				right: 0;
				margin: 0;
			}

			path {
				@include secondary-color-fill();
			}
		}

		&.mountain {
			display: block;
			margin: 40px -15px 0 auto;
			width: 200px;
			height: auto;

			@include media-breakpoint-up(md) {
				margin: 72px -40px 0 auto;
				width: 300px;
			}

			@include media-breakpoint-up(xxl) {
				width: 350px;
			}

			
			@media (min-width: 1800px) {
				position: absolute;
				bottom: 0;
				right: 0;
				margin: 0;
				margin-right: -25px
			}

			path {
				@include secondary-color-fill();
			}
		}
	}

	.entry-content {
		h1 {
			@include font-size($font-size-content-h1);
		}

		h2 {
			@include font-size($font-size-content-h2);
			color: $clr-font-grey;
		}

		h3 {
			@include font-size($font-size-content-h3);
			color: $clr-font-grey;
		}

		h4 {
			@include font-size($font-size-content-h4);
			color: $clr-font-grey;
		}
	}
}

body:not(.home) {
	.page-content {
		article {
			> .entry-content {
				.block-content-with-sidebar:first-child {
					padding-top: 10px;
				}
			}
		}
	}
}