.block-content-with-sidebar {
	position: relative;
	overflow: hidden;
	padding: 50px 0 72px;

	@include media-breakpoint-up(lg) {
		padding-bottom: 86px;
	}


	.figure {
		display: block;
		margin: 40px -50px 0 auto;
		width: 150px;
		height: auto;

		@include media-breakpoint-up(md) {
			margin: 72px -100px 0 auto;
			width: 350px;
		}
		@include media-breakpoint-up(xxl) {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 350px;
			margin: 0;
		}

		path {
			@include secondary-color-fill();
		}
	}

	.entry-content {
		h1 {
			@include font-size($font-size-content-h1);
		}

		h2 {
			@include font-size($font-size-content-h2);
			color: $clr-font-grey;
		}

		h3 {
			@include font-size($font-size-content-h3);
			color: $clr-font-grey;
		}

		h4 {
			@include font-size($font-size-content-h4);
			color: $clr-font-grey;
		}
	}
}

body:not(.home) {
	.page-content {
		article {
			> .entry-content {
				.block-content-with-sidebar:first-child {
					padding-top: 10px;
				}
			}
		}
	}
}